@page
@model ShopManagementSystem.Pages.Account.ConfirmEmailModel
@{

    ViewData["Title"] = "Email Verification Successful";
}

<h1>@ViewData["Title"]</h1>

<p>Your email address has been successfully verified.</p>

<p>Click <a asp-page="/Account/Login">here</a> to login to your account.</p>

<p>Alternatively, you can click <a asp-page="/Index">here</a> to return to the home page of our application.</p>