@page
@model ShopManagementSystem.Pages.Account.ConfirmEmailModel
@{

    ViewData["Title"] = "Email Verification Successful";
}

<h1>@ViewData["Title"]</h1>

<p>Congratulations on successfully verifying your email address!</p>
<p>Now that you're one step closer to completing your profile, there are just a few more exciting milestones to reach. One essential aspect is adding a shipping address. By doing so, you'll unlock a seamless shopping experience. So, why wait? Take a step forward by clicking <a asp-page="/Account/EditUserProfile">here</a> to provide your shipping details and elevate your profile to perfection!</p>
<p>In the meantime, if you're eager to explore our application further, you can always visit our <a asp-page="/Index">home page</a> and discover the multitude of products awaiting for you.</p>