@page
@model ShopManagementSystem.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}


<h1>@ViewData["Title"]</h1>

<div class="section-container">
<div class="form-box">
    <div class="form-value">
        <form method="post">
            <h4 class="login-value">Login</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="forget">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                        <a asp-page="./ForgotPassword">Forgot your password?</a>
                    </label>
                   
            </div>
           
            <div class="form-group">
                <button type="submit" class="loginBtn">Log in</button>
            </div>
           
            <div class="register">
                    <p>Don't have an account? <a asp-page="./SignUp" asp-route-returnUrl="@Model.ReturnUrl">Sign Up as a new user</a></p>
            </div>
        </form>
    </div>
</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
