@page
@model ShopManagementSystem.Pages.Account.SignUpModel
@{

}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="Email" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="Password" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="ConfirmPassword" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
