@page
@model ShopManagementSystem.Pages.Account.SignUpThankYouModel
@{
    ViewData["Title"] = "Thank You for signing up";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for signing up!</p>

<p>An email has been sent to your email address with instructions on how to verify your account. Please check your inbox and follow the instructions in the email to confirm your email address. If you do not receive the email within a few minutes, please check your spam folder.</p>

<p>If you have any issues verifying your email address or did not receive the email, please contact our support team at support@lemonshopping.com.</p>