.product-presentation-grid {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 3px solid lightblue;
    border-radius: 10px;
    backdrop-filter: blur(70px);
}

#product-image {
    flex: 0 0 auto;
    padding: 10px;
    width: 600px;
}

    #product-image img {
        width: 600px;
        height: 500px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
        border: 2px solid skyblue;
        border-radius: 10px;
    }

#main-details {
    flex: 1 1 auto;
}

#name-value, #status-value {
    margin-top: 10px;
    margin-right: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid skyblue;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(70px);
}

#price-value {
    margin-top: 100px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid red;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    background: transparent;
    backdrop-filter: blur(70px);
}

.product-details-page-add-button form {
    text-align: center;
}

.btn-details-page {
    width: 100px;
    height: 50px;
}

.lemon-icon-image {
    margin-top: 35px;
    padding: 15px;
    text-align: center;
    width: 200px;
    height: 200px;
    margin-left: 35px;
}

#product-price {
    display: flex;
}

#similar-products {
    margin-top: 40px;
}

.info-table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.info-row {
    display: table-row;
    background: white;
    backdrop-filter: blur(70px);
}

.info-cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid #ccc;
    background: transparent;
    backdrop-filter: blur(70px);
}

.info-label {
    font-weight: bold;
}

.info-grid {
    margin-top: 35px;
    padding: 40px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 100px;
    margin-bottom: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    background: transparent;
    backdrop-filter: blur(70px);
}

.info-labels {
    font-weight: bold;
}

#product-reviews {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    background: transparent;
    backdrop-filter: blur(70px);
}

.btn-info {
    margin-top: 15px;
}

.star-icon-image {
    width: 200px;
    margin: 10px;
    margin-left: 50px;
}

#reviews-list-container {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    background: transparent;
    backdrop-filter: blur(70px);
}

#rating-container {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    padding: 20px;
    margin-top: 10px;
    background: transparent;
    backdrop-filter: blur(70px);
}

.lemi-icon-image {
    width: 100px;
}

#rating-text-value {
    margin-left: 50px;
}

.cane-icon-image {
    width: 60px;
}
