html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
}

.products-field {
    text-decoration: none;
    color: black !important;
}

.products li {
    list-style-type: none;
    position: center;
}

nav.main-products-category-navigation {
    background-color: white;
    margin-top: 100px;
    z-index: 9999;
}

#nav-details {
    margin-top: 100px;
}

.main-category-list {
    position: absolute;
    left: 0;
    display: none;
    padding-left: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 450px;
    margin-left: 120px;
    background-color: transparent;
    border-radius: 20px;
    backdrop-filter: blur(70px);
}


    .main-category-list.open {
        display: block !important;
    }

    .main-category-list li {
        display: block;
        position: relative;
    }

        .main-category-list li a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #333;
        }

        .main-category-list li:hover a {
            background-color: lightyellow;
            color: darkgreen;
        }



.subcategory-navigation {
    position: absolute;
    background-color: #fff;
    margin-left: 380px;
    width: 900px;
    height: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    overflow: auto;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(70px);
}

    .subcategory-navigation.open {
        display: block;
    }

.subcategory-list {
    list-style-type: none;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

    .subcategory-list a {
        text-decoration: none;
        color: black !important;
    }

        .subcategory-list a:hover {
            text-decoration: none;
            color: seagreen !important;
        }

.nestedCategories-list {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 0px;
}

.category-container {
    display: flex;
}

.carousel {
    margin-top: 100px;
    width: 900px;
    height: 390px;
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    background-color: transparent;
    backdrop-filter: blur(70px);
    border: 3px solid yellow;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.carousel-item {
    width: 900px;
    height: 350px;
    position: relative;
}

.carousel-button-container {
    position: absolute;
    top: 85%;
    left: 80px;
    transform: translateY(-50%);
}

.btn-outline-light {
    color: black;
}

.brand-image {
    width: 100px;
    height: 50px;
}

.products-button {
    margin-right: 20px;
}

.form-control {
    width: 600px;
}

.icon-image {
    width: 21px;
    height: 21px;
}

.icon-image-home {
    width: 30px;
    height: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.product-item {
    
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    border: 2px solid white;
    border-radius: 10px;
}

.product-image img {
    height: 150px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    margin-bottom: 15px;
}

.product-item a {
    text-decoration: none;
    color: black;
}

.add-cart {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
}

.add-cart form {
    text-align: right;
}

.btn-success {
    background-color: limegreen;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-color: lightgreen;
}

.category-name {
    margin-top: 50px;
}

.product-name, .product-status, .product-price {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    padding: 2px;
    margin-bottom: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border-color: lightgreen;
    border: 1px solid dimgrey;
}

    .product-status p {
        text-align: center;
        margin: 0;
    }

    .product-price p {
        text-align: center;
        margin: 0;
    }

.animated-icon-image {
    width: 45px;
    padding-bottom: 9px;
}

.hover-effect {
    display: inline;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    padding: 5px;
    background: transparent;
    border-radius: 20px;
    backdrop-filter: blur(70px);
}

    .hover-effect:hover {
        color: dimgray;
    }

.row {
    margin-top: 100px;
}
