html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.products-field {
    text-decoration: none;
    color: black !important;
}

.products li {
    list-style-type: none;
    position: center;
}

nav.main-products-category-navigation {
    background-color: #f1f1f1;
    position: relative;
    z-index: 9999;
}

.main-category-list {
    position: absolute;
    left: 0;
    display: none;
    padding-left: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 900px;
    height: 500px;
    margin-left: 120px;
    background-color: white;
}


    .main-category-list.open {
        display: block !important;
    }

    .main-category-list li {
        display: block;
        position: relative;
    }

        .main-category-list li a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: #333;
        }

        .main-category-list li:hover a {
            background-color: #f1f1f1;
            color: #333;
        }



.subcategory-navigation {
    position: absolute;
    background-color: #fff; 
    margin-left: 350px; 
    width: 900px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: none;
    overflow: auto;
}

    .subcategory-navigation.open {
        display: block;
    }

.subcategory-list {
    list-style-type: none;
}

    .subcategory-list a {
        text-decoration: none;
        color: black !important;
    }

.category-container {
    display: flex;
}

.carousel {
    width: 900px; 
    height: 390px; 
    justify-content: center;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    background-color: #ffffe0;
    border: 3px solid yellow;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.carousel-item {
    width: 900px;
    height: 350px;
    position: relative;
}

.carousel-button-container {
    position: absolute;
    top: 85%;
    left: 80px;
    transform: translateY(-50%);
}

.btn-outline-light {
    color: black;
}
