@using Microsoft.AspNetCore.Identity
@using ShopManagementSystem.Models;
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopManagementSystem.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">ShopManagementSystem</a>
                <div class="products-button">
                    <a class="products-field" href="#">Products</a>
                </div>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/UserCart/Index">Cart</a>
                        </li>
                        @if (SignInManager.IsSignedIn(Context.User))
                        {
                            <li class="nav-item">
                                <form asp-page="/Account/Logout" method="post">
                                    <button type="submit" class="btn btn-primary">Logout</button>
                                </form>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" asp-area="" asp-page="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                All
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>



    <div class="container">
        <nav class="main-products-category-navigation">
            <div class="category-container">
                <div class="main-category-container">
                    <ul class="main-category-list">
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="grocery" data-category="grocery">Grocery</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="personalCareAndBeauty" data-category="beauty">Personal Care & Beauty</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="homeFurnitureAndAppliances" data-category="home">Home,Furniture and Appliances</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="sportsAndOutdoors" data-category="sports">Sports and Outdoors</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="toysAndGames" data-category="toys">Toys & Video Games</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="electronics" data-category="electronics">Electronics</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="baby" data-category="baby">Baby</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="kids" data-category="kids">Kids</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="pets" data-category="pets">Pet Shop</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="gardenAndAuto" data-category="garden">Garden,auto,brico</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="booksAndMoviesAndMusic" data-category="books">Books,Movies and Music</a>
                        </li>
                        <li class="main-category-item">
                            <a asp-page="/Products" asp-route-category="clothesAndAccesories" data-category="clothes">Clothes & Accesories</a>
                        </li>
                    </ul>
                </div>
                <div class="subcategory-navigation">
                </div>
            </div>
        </nav>
       
    <main role="main">
       @RenderBody()
     </main>
        
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ShopManagementSystem - <a asp-area="" asp-page="">Contact us</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>