@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
   <div id="top-information">

   </div>
   <div id="popular-products-list">

   </div>
   <div id="products-list">
       @foreach(var category in Model.MainCategories)
        {
            var productCategories = Model.ProductCategory.Where(i => i.CategoryName == category);   
            @if (productCategories.Count() > 0)
            {
                 var modifiedCategoryName = category.Replace(" ", "-").Replace("&", "").Replace("--", "-").Replace(",", "");
             <div id="category-@modifiedCategoryName">
                <div id="name-@modifiedCategoryName">
                    <p>@category</p>
                 </div>
             </div>
                <div id="container-@modifiedCategoryName">
                @foreach (var productCategory in productCategories)
                {
                    var products = Model.Product.Where(i => i.Id == productCategory.ProductId).ToList();
                    var productsInventory = Model.ProductInventory.Where(i => i.ProductId == productCategory.ProductId).ToList();
                        @for(int i = 0; i < products.Count(); i++)
                        {
                            <a asp-page="/Index">
                            <div class="products-allList">
                                <div class="product-image">
                                  <img src="~/images/@products[i].ProductImage" alt="Product Image">
                                </div>
                                <div class="product-name">
                                    <p>@products[i].ProductName</p>
                                </div>
                                <div class="product-status">
                                    @switch (productsInventory[i].Status)
                                     {
                                      case 1:
                                         <p>In Stock</p>
                                        break;
                                      case 2:
                                         <p>Out of Stock</p>
                                       break;
                                      case 3:
                                       <p>Out of Stock - Seasonal</p>
                                          break;
                                      default:
                                         <p>Unknown Status</p>
                                      break;
                                     }
                                </div>
                                <div class="product-price">
                                   <p>@productsInventory[i].RetailPrice</p>
                                </div>
                            </div>
                            </a>
                                <div class="add-cart">
                                    <form method="post" asp-page-handler="AddToCart">
                                        <input type="hidden" name="productId" value="@products[i].Id" />
                                        <button type="submit">Add</button>
                                    </form>
                                </div>
                           
                        }
                    }
                </div>       
            }          
        }
    </div>
</div>

<script src="~/js/saveScrollPosition.js" asp-append-version="true"></script>

