@page
@model ShopManagementSystem.Pages.Carts.PaymentSuccessModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Payment Success";
}

<div class="section-container">
    <div class="thankyou-box">
    <p id="thankyou-title">Payment Successful</p>
    <p class="thankyou-info">Thank you for your purchase!</p>
    <p class="thankyou-info">You will receive the payment details via email.</p>
        <a style="text-decoration:none;color=black !important;" asp-page="/Index">
            <img class="animated-icon-image" src="~/images/seeMoreIcon.gif" alt="Logo" />
            <h4 class="hover-effect">Continue Shopping</h4>
        </a>
    </div>
</div>
