@page
@model ShopManagementSystem.Pages.Carts.PaymentErrorModel
@{
    ViewData["Title"] = "Payment Error";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Payment Error</h1>

<p>Sorry, there was an error processing your payment for product: <strong>@Model.ProductName</strong>.</p>
<p>It seems we don't have in stock the requested amount!</p>
