@page
@model ShopManagementSystem.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";
}

<div class="title-name">
    <img class="animated-icon-image" src="~/images/seeMoreIcon.gif" alt="Logo" />
    <h1 class="hover-effect">Add a new Product</h1>
</div>


<div class="row">
    <div class="col-md-4">
        <form method="post" id="create-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="Product.ProductName" class="control-label">Product Name:</label>
                <input asp-for="Product.ProductName" id="product-name" />
                <span asp-validation-for="Product.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductCategory.CategoryName" class="control-label">Main Category:</label>
                <select asp-for="ProductCategory.CategoryName" id="main-category" >
                </select>
                <span asp-validation-for="ProductCategory.CategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductSubCategory.SubCategoryName" class="control-label">Subcategory:</label>
                <select asp-for="ProductSubCategory.SubCategoryName" id="subcategory" >
                </select>
                <span asp-validation-for="ProductSubCategory.SubCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductNestedCategory.NestedCategoryName" id="nested-category-label" class="control-label">Sub-Subcategory:</label>
                <select asp-for="ProductNestedCategory.NestedCategoryName" id="nested-category" >
                </select>
                <span asp-validation-for="ProductNestedCategory.NestedCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductBrand" class="control-label">Brand Of Product:</label>
                <select asp-for="Product.ProductBrand" id="product-brand" >
                </select>
                <span asp-validation-for="Product.ProductBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.Price" class="control-label"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.PriceUnit" class="control-label">Price Unit:</label>
                <select asp-for="Product.PriceUnit" id="price-unit" >
                </select>
                <span asp-validation-for="Product.PriceUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductDescription" class="control-label">Description:</label>
                <textarea asp-for="Product.ProductDescription" class="form-control" ></textarea>
                <span asp-validation-for="Product.ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductImage" class="control-label"></label>
                <input asp-for="Product.ProductImage" class="form-control" type="file" />
                <span asp-validation-for="Product.ProductImage" class="text-danger"></span>
            </div>
            <div id="inventory-details">
                <h3>Inventory</h3>
                <div class="form-group">
                    <label asp-for="ProductInventory.Quantity" class="control-label">Quantity:</label>
                    <input asp-for="ProductInventory.Quantity" class="form-control" />
                    <span asp-validation-for="ProductInventory.Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductInventory.Location" class="control-label">Location:</label>
                    <select asp-for="ProductInventory.Location" id="product-location">
                    </select>
                    <span asp-validation-for="ProductInventory.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductInventory.Supplier" class="control-label">Supplier:</label>
                    <select asp-for="ProductInventory.Supplier" id="product-supplier">
                     </select>
                    <span asp-validation-for="ProductInventory.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductInventory.Cost" class="control-label">Cost(per Product):</label>
                    <input asp-for="ProductInventory.Cost" class="form-control" />
                    <span asp-validation-for="ProductInventory.Cost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProductInventory.ExpirationDate" class="control-label">Expiration Date(Where it's applicable):</label>
                    <input type="checkbox" id="checkboxForExpirationDate" />
                    <input asp-for="ProductInventory.ExpirationDate" class="form-control" type="date" id="expirationDate-input" />
                    <span asp-validation-for="ProductInventory.ExpirationDate" class="text-danger"></span>
                </div>
            </div>
            <div id="additionalAttributesSection">
                 <h3>Additional Attributes</h3>
               <div id="attributeList">
               
               </div>
               <button type="button" id="addAttributeButton">Add Attribute</button>
              </div>
            <div class="form-group">
                <input type="submit" id="createBtn" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script src="~/js/AdminPages.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
