@page
@model ShopManagementSystem.Pages.Admin.StatisticsModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";

    var chartData = ViewData["ChartData"];

    var productChartData = ViewData["productChartData"];

    var totalSalesChartData = ViewData["totalSalesChartData"];
}
<div id="totalNumberOfPay-container">
    <label id="totalNumberOfPay-value">
        @Model.TotalNumberOfPayments
    </label>
</div>

<canvas id="chart"></canvas>

<div id="chartData" data-chartdata='@Html.Raw(Json.Serialize(chartData))'></div>

<canvas id="productChart"></canvas>

<div id="productChartData" data-chartdata='@Html.Raw(Json.Serialize(productChartData))'></div>

<canvas id="totalSalesChart"></canvas>

<div id="totalSalesChartData" data-chartdata='@Html.Raw(Json.Serialize(totalSalesChartData))'></div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/js/chartCreation.js" asp-append-version="true"></script>

