@page
@model ShopManagementSystem.Pages.Admin.StatisticsModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Pages/Shared/_Layout_Admin.cshtml";

    var chartData = ViewData["ChartData"];

    var productChartData = ViewData["productChartData"];

    var totalSalesChartData = ViewData["totalSalesChartData"];
}
<div class="adminBtn" id="totalNumberOfPay-container">
    <label id="totalNumberOfPay-value">
        Total Number of Transactions: @Model.TotalNumberOfPayments
    </label>
</div>

<div class="chart-container">

    <canvas id="chart"></canvas>

    <div id="chartData" data-chartdata='@Html.Raw(Json.Serialize(chartData))'></div>

    <canvas id="productChart"></canvas>

    <div id="productChartData" data-chartdata='@Html.Raw(Json.Serialize(productChartData))'></div>

    <canvas id="totalSalesChart"></canvas>

    <div id="totalSalesChartData" data-chartdata='@Html.Raw(Json.Serialize(totalSalesChartData))'></div>

    <div>
        <a class="adminBtn" asp-page="./Index">Back to List</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="~/js/chartCreation.js" asp-append-version="true"></script>

